*{
    padding: 0;
    margin: 0;
    width: 100%;
    /* overflow: hidden; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.line{
    margin: 1px auto;
    width: 80%;
    height: 1px;
    background-color: grey;
}

.container{
width: 100%;
/* height: 100VH; */
overflow: hidden;
}
.nav-bar{
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.nav-bar ul{
    display: flex;
    margin-right: 150px;
}
.nav-bar ul li{
    margin-left: 30px;
}
.nav-bar ul li h4{
    font-size: 20px;
    font-weight: initial;
}
.nav-bar h2{
    font-size: 27px;
    font-weight: initial;
    cursor: pointer;
    margin-left: 200px;
}
.nav-bar h4:hover{
    text-decoration: underline;
}
.nav-bar h2:hover{
    text-decoration: underline;
}

 .opening ul li{
    margin-top: 20px;
    font-size: 19px;
    font-weight: lighter;
     text-align: start; 
    margin-right: 20px;
 }
 .opening{
    /* border: 1px solid grey; */
    width: 200px;
    position: absolute;
    right:0px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    margin-top: 2px;
    transition: 1s;
    overflow: hidden;
    display: none;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: fixed;
 }
 .opening ul{
    margin-bottom: 40px;
    margin-left: 60px;
 }

 .opening h4:hover{
    text-decoration: underline;
}

    /* display: none; */
 .close img{
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 30px;
    margin-left: 160px;
 }
 .close img:hover{
    background-color: rgb(234, 230, 230);
 }
 .menu{     
    height: 27px;
    width: 50px;
    padding: 9px;
    margin-right: 20px;
    border-radius: 50px;
    display: none;
} 
.menu img{
    height: 30px;
    
}
.menu:hover{
    background-color: rgb(230, 226, 226);

}

@media all and (max-width:1000px){
    .nav-bar ul{
        margin:20px;
    }
    .nav-bar h2{
        margin-left: 50px;
    }
}

/* nav bar */
@media all and (max-width:600px) {
    .nav-bar ul {
        display: none;
    }
    .show{
       display: block;
    }
    .menu {
        display: block;
    }
    .nav-bar h2{
      width: 150px;
      margin:10px auto ;
    }
   
   
    
}
/* about */

.about{
    height: 100VH;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    margin-top: 5px; 
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   margin-top: 100px;
}
.profile{
    height: 350px;
    width: 350px;
    margin-bottom: 10px;
    margin-right: 40px;

    
}
.profile img{
    height: 300px;
    width: 300px;
    filter: grayscale(1);
    border-radius: 50%;
    border: 4px solid black;
    
}
.info{
    width: 200px;
    margin-left: 40px;
    margin-top: 10px;
}
.info span p,h2,h3,button{
   margin-top:5px;
   text-align: center;
}
.button{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button button{
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
}
.button .b1{
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-right: 10px;
}
.button .b1:hover{
    box-shadow: 2px 2px 5px grey;
}
.button .b2:hover{
    box-shadow: 2px 2px 5px grey;
}
@media all and (max-width:550px) {
    .about{
        height: 105vh;
    }
    .profile{
        margin: 0;
        margin-top: 25px;
        margin-left: 20px;
    }
    .info{
        margin-right: 40px;
        /* margin-bottom: 100px; */
    }
    .about-info{
        margin-bottom:150px;
    }
}

/* experince */

.experience{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;
    align-items: end;
    justify-content: center;
    /* flex-direction: column; */
    /* flex-wrap: wrap;   */
}
.experience-box{
    display: flex;
    width: 100%;
    justify-content: center;
   
}
.experience-info-1,.experience-info-2{
    height: 200px;
    width: 400px;
    border: 3px solid grey;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.experience-info-2{
   
    margin-left: 10px;
}
.experience-info-image {
    height: 310px;
    width: 310px;
    /* margin-top: 100px;` */
    margin-right: 50px;
}
.experience-info-image img{
    border-radius: 20px;
    height: 300px;
   
}
.experience-para{
    text-align: center;
    width: 900px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.experience-info-1 img{
    height: 60px;
    width: 60px;
}
.experience-info-2 img{
    height: 60px;
    width: 60px;
}
.experience-info-1 h4,.experience-info-2 h4{
    text-align: center;
}
.exp-ul{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 70px;
}
.exp-ul li{
    list-style: disc;
}
.experience-h2 {
    margin-top: 150px;
}
@media all and (max-width:800px){
    .experience{
        height: 120vh;
    }
    .experience-box{
        flex-direction: column;
        align-items: center;
    }
    .experience-info-image{
        margin: 0;
    }
}
/* projects */
.project{

    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}
.div-projects{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}
.project-1,
.project-2,
.project-3{
    height: 300px;
    width: 250px;
    border: 2px solid black;
    margin-left: 30px;
    border-radius: 20px;
    margin-top: 180px;

}
.project-h2{
    text-align: center;
    margin-top: 120px;
}
.div-images{
    height: 240px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23px;
}
.div-images img{
    border-radius: 20px;
}
@media all and (max-width:900px){

    .project-3{
        margin-right: 20px;
    }
}
@media all and (max-width:800px){
    .project{
        height: 160vh;
    }
    .div-projects{
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-right: 10px;
    }
   
    .project-1{
        margin-top: 100px;
    }
    .project-1,
.project-2,
.project-3{
    margin-top: 50px;
}
.project-h2{
    text-align: center;
    margin-top: 60px;
}
}


/* @keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
.project{
/* animation: appear ease;
animation-timeline: view();
animation-range: entry 0% cover 40%;
} */ 
 .contact{
    height: 70VH;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .get-in{
    display: block;
    text-align: center;
    margin-bottom: 100px;
 }
 .mail{
    display: flex;
    border: 2px solid black;
    width: 200px;
    margin: 10px auto;
    padding: 20px 30px;
    border-radius: 20px;
    margin-top: 100px;
 }
 .mail h5{
    font-weight: bolder;
    font-size: 15px;
    margin-left: 15px;
 }
 .mail img{
    height: 20px;
    width: 20px;
 } footer{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
 }

